<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ .Title }}{{ if not (.IsHome) }} | {{$.Site.Title}}{{end}}</title>
    <!-- Search Engine -->
    <meta name="image" content="https://lries.com/assets/ant.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ .Title }}{{ if not (.IsHome) }} | {{$.Site.Title}}{{end}}">
    <meta itemprop="image" content="https://lries.com/assets/ant.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ .Title }}{{ if not (.IsHome) }} | {{$.Site.Title}}{{end}}">
    <meta name="twitter:site" content="@astrocart">
    <meta name="twitter:image:src" content="https://lries.com/assets/ant.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ .Title }}{{ if not (.IsHome) }} | {{$.Site.Title}}{{end}}">
    <meta name="og:image" content="https://lries.com/assets/ant.png">
    <meta name="og:url" content="https://lries.com/">
    <meta name="og:site_name" content="Loren Riesenfeld">
    <meta name="og:type" content="website">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body class="vollkorn bg main">
