/*
You can use import statements to include partials:
*/
@import "imports/tachyons.css";

/*
Custom Styles:
*/

:root {
	--main: #111;
	--bg: #f1f1f1;
}

@font-face {
	font-family: "Gotham Ultra";
	src: url("/assets/fonts/gotham-ultra.woff2") format("woff2"), url("/assets/fonts/gotham-ultra.woff") format("woff");
}

.gotham {
	font-family: 'Gotham Ultra', avenir, sans-serif;
}

.vollkorn {
	font-family: 'Vollkorn', "Athelas", -apple-system, BlinkMacSystemFont, sans-serif;
}

.system {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main {
	color: var(--main);
}

.bg {
	background-color: var(--bg);
}

.fit {
	display: inline-block;
	white-space: nowrap;
}

a {
	color: var(--main);
	text-decoration: underline;
	opacity: 1;
}

a:hover, a:focus {
	opacity: .5;
	transition: opacity .15s ease-in;
}

/* uncss:ignore */
figure {
	margin: .5rem 0;
}

/*uncss:ignore*/
.highlight {
 padding:1rem;
 overflow:scroll;
 border-radius:3px;
 border: 1px solid var(--main);
}

/*uncss:ignore*/
.highlight pre {
	margin: 0;
}

/*uncss:ignore*/
code {
  padding: .125rem .25rem;
  background-color: #002B36;
  border-radius: 3px;
  border: 1px solid var(--main); 
  color: #93A1A1;
}
