/*
You can use import statements to include partials:
*/
@import "imports/tachyons.css";

/*
Custom Styles:
*/

:root {
	--main: #111;
	--bg: #f1f1f1;
}

@font-face {
	font-family: "Gotham Ultra";
	src: url("/assets/fonts/gotham-ultra.woff2") format("woff2"), url("/assets/fonts/gotham-ultra.woff") format("woff");
}

.gotham {
	font-family: 'Gotham Ultra', avenir, sans-serif;
}

.vollkorn {
	font-family: 'Vollkorn', "Athelas", -apple-system, BlinkMacSystemFont, sans-serif;
}

.system {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main {
	color: var(--main);
}

.bg {
	background-color: var(--bg);
}

.fit {
	display: inline-block;
	white-space: nowrap;
}

a {
	color: var(--main);
	text-decoration: underline;
	opacity: 1;
}

a:hover, a:focus {
	opacity: .5;
	transition: opacity .15s ease-in;
}

/* uncss:ignore start */
figure {
	margin: .5rem 0;
}

.highlight {
 padding:1rem;
 overflow:scroll;
 border-radius:3px;
 border: 1px solid var(--main);
 color: #93A1A1;
}

.highlight pre {
	margin: 0;
}

code {
  padding: .125rem .25rem;
  background-color: #002B36;
  border-radius: 3px;
  border: 1px solid var(--main); 
  color: #93A1A1;
  font-family: Consolas, monaco, monospace;
}

iframe {
	border: none; 
}

.twitter-tweet {
	margin-left: auto;
	margin-right: auto;
}

.aspect-ratio { height: 0; position: relative; }
.aspect-ratio--16x9 { padding-bottom: 56.25%; }

.aspect-ratio iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.link:focus {
  outline: none;
}

.shake-lr {
	-webkit-animation: shake-lr 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-lr 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

/* uncss:ignore end */
