{{ define "main" }}

<main class="center mw9">

	<header class="svg-clip tc lh-solid pv4 pv5-l center gotham">

		<svg class="w-90 w-80-m w-70-l center" width="100%" style="max-height:100%" fill="currentColor" overflow="visible" viewBox="0.5 0 101.5 16"><text x="0" y="12.5" font-family="inherit" font-size="1rem" font-weight="inherit">Hi, I’m Loren</text></svg>

	</header>

	<section class="w-90 w-80-m w-70-l center pb3 pb4-ns">
		<div class="tl f4 lh-copy">
			{{.Content}}
		</div>
	</section>

	<section class="w-90 w-80-m w-70-l center pb3 pb4-ns">
		{{ partial "homepage-list" (dict "context" . "name" "Projects" "section" "projects") }}

		{{ partial "homepage-list" (dict "context" . "name" "Writing" "section" "writing") }}

		{{ partial "homepage-list" (dict "context" . "name" "T.I.L." "section" "til") }}
	</section>

	<section class="w-90 w-80-m w-70-l center pb3 pb4-ns">
		<h2 class="f3 gotham">Get in touch</h2>
		<p class="f4">You can reach me at <span id="hidden"></span>. My public key is on <a href="https://keybase.io/lries" class="underline">Keybase</a>.</p>
		{{ partial "contact" . }}
	</section>

</main>

{{ end }}