{{ define "main" }}
<main class="center measure-wide mw6 f4 ph3 pv4 lh-copy">

	<header>
		
		<div class="system f6">{{ .CurrentSection.Title  }}</span>

		<div class="system f6 flex justify-between"><time datetime="{{ .Date }}">{{ .Date.Format "January 1, 2006" }}</time>{{if eq .Params.wip true}}<span>Work in Progress{{end}}</div>

		{{ if isset .Params "roles" }}<div class="system f6 pt3 tc">Role:{{range .Params.roles }}<span class="pv1 ph2 ml2 br-pill f7" style="background-color: var(--main); color: var(--bg);">{{ . }}</span>{{end}}</div>{{end}}
		
		<h1 class="f3 f2-m f1-l gotham lh-title ph2 measure-wide tc">{{.Title}}</h1>
		
		{{ with .Params.link }}<div class="tc"><a href="{{ . }}" class="no-underline pv2 ph3 dib br-pill dim system f6 mb2" style="background-color: var(--main); color: var(--bg);">Check it out &rarr;</a></div>{{end}}


	</header>

	{{ .Content }}

</main>
{{ end }}