$f-headline: 6rem;
$f-subheadline: 5rem;
$f1: 3rem;
$f2: 2.25rem;
$f3: 1.5rem;
$f4: 1.25rem;
$f5: 1rem;
$f6: .875rem;
$f7: .75rem;

$letter-spacing-tight: -.05em;
$letter-spacing-1: .1em;
$letter-spacing-2: .25em;
$lh-solid: 1;
$lh-title: 1.25;
$lh-copy: 1.5;
$measure: 30em;
$measure-narrow: 20em;
$measure-wide: 34em;

$sans-serif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;